<!-- <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[13]"
    [center]="[lon, lat]"
>
    <mgl-marker
      [lngLat]="[lon, lat]"
    >
    </mgl-marker>

    <div *ngIf="destLat && destLon"></div>
    <mgl-marker
      [lngLat]="[destLon, destLat]"
    >
    </mgl-marker>
    <mgl-control
        mglGeocoder
        (result)="getDestCoordinates($event)"
    ></mgl-control>
    <div *ngIf="showPath">
        <mgl-geojson-source
        id="oneline"
        >
        <mgl-feature
            [geometry]="geometry"
        >
        </mgl-feature>
        </mgl-geojson-source>
        <mgl-layer
        id="route"
        type="line"
        source="oneline"
        [layout]="{
            'line-join': 'round',
            'line-cap': 'round'
        }"
        [paint]="{
            'line-color': '#888',
            'line-width': 8
        }"
        >
        </mgl-layer>
    </div>
</mgl-map> -->